
<section id="contact">	
	<div row>
		<h2>Email</h2>
		<hr />
		<a text href="mailto:admin@therebelrobot.com">admin@therebelrobot.com</a>
	</div>
	<div row>
		<h2>Telephone</h2>
		<hr />
		<object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=22b5db6c4b43575360b84a78bf74b4c3d896594b&style=0" /></object>
	</div>
	<div row>
		<h2>Twitter</h2>
		<hr />
		<a href="https://twitter.com/intent/tweet?screen_name=therebelrobot" class="twitter-mention-button" data-size="large">Tweet to @therebelrobot</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</section>