<section id="projects">
	<div row>
		<h2>Professional Work</h2>
		<hr />
		<a href="http://adobeanalyticspro.com/"><img src="img/work/portfolio-adobe.jpg" alt="Adobe Analytics Assessment" /></a>
		<a href="http://mediarain.github.com/avery/"><img src="img/work/portfolio-martha.jpg" alt="Adobe Analytics Assessment" /></a>
		<a href="http://thebeautyofnight.com/"><img src="img/work/portfolio-estee.png" alt="Adobe Analytics Assessment" /></a>
	</div>
	<div row>
		<h2>Volunteer Work</h2>
		<hr />
		<a href="http://twomarriedgeeks.com/"><img src="img/work/twomarriedgeeksimage.png" alt="Two Married Geeks" /></a>
		<a href="helpulgeek.info/"><img src="img/work/helpfulgeekimage.png" alt="HelpfulGeek.info" /></a>
	</div>
	<div row>
		<h2>Side Projects</h2>
		<hr />
		<a text href="http://github.com/therebelrobot/generator-ngless">NgLESS Yeoman Generator</a>
		<a text href="http://github.com/therebelrobot/tRRtoolbelt.less">tRRtoolbelt.less - LESScss functions</a>
		<a text href="http://github.com/therebelrobot/jquery.starburstGraph">jquery.starburstGraph</a>
		<a text href="http://github.com/therebelrobot/jquery.ui.draggable.spawner">jquery.ui.draggable.spawner</a>
		<a text href="keyBinder/">jquery.keybinder</a>
		<a text href="jqBookmarklet/">jQuery Bookmarklet Generator</a>
	</div>
</section>