<section id="stack">
	<div row>
		<h2>Client-side</h2>
		<hr />
		<img stack-html src="img/stack/html5.png" alt="HTML5 &amp; CSS3" />
		<img stack-less src="img/stack/less.png" alt="LESS-CSS" />
		<img stack-jquery src="img/stack/jquery.png" alt="jQuery" />
	</div>

	<div row>
		<h2>Server-side</h2>
		<hr />
		<img stack-node src="img/stack/node.png" alt="Node.js" />
		<img stack-grunt src="img/stack/grunt.png" alt="Grunt Task Automation" />
		<img stack-bower src="img/stack/bower.png" alt="Bower Front-end Dependencies" />
		<img stack-php src="img/stack/php.png" alt="PHP &amp; MySQL" />
	</div>
	<div row>
		<h2>Frameworks</h2>
		<hr />
		<img stack-angular src="img/stack/angular.png" alt="Angular.js" />
		<img stack-ember src="img/stack/ember.png" alt="Ember.js" /><br/>
		<img stack-jqui src="img/stack/jqui.png" alt="jQuery UI" />
		<img stack-jqmobile src="img/stack/jqmobile.png" alt="jQuery Mobile UI" /><br/>
		<img stack-wordpress src="img/stack/wordpress.png" alt="Wordpress" />
		<img stack-mediawiki src="img/stack/mediawiki.png" alt="MediaWiki" />
	</div>
	<div row>
		<h2>Development</h2>
		<hr />
		<img stack-ubuntu src="img/stack/ubuntu.png" alt="Ubuntu Linux" />
		<img stack-bash src="img/stack/bash.jpg" alt="Bash Command Line Scripting" />
		<img stack-sublime src="img/stack/sublime.png" alt="Sublime Text Editor" />
		<img stack-yeoman src="img/stack/yeoman.png" alt="Yeoman Project Scaffolding" />
		<img stack-github src="img/stack/github.png" alt="Github Social Coding" />
	</div>
</section>